.intro{
    margin-top: 95px;
    margin-left: 11.56%;
    width: 53.9%;
}

@media screen and (max-width: 1279px){
    .intro{
        width: 67.38%;
        margin-left: 4.68%;
    }
}

@media screen and (max-width: 1023px){
    .intro{
        width: 93.75%;
        margin: 88px auto 0 auto;
    }
}

@media screen and (max-width: 767px){
    .intro{
        margin-top: 64px;
    }
}